*{margin:0;padding:0;}
*a:hover{color:red;}
#header{height:28px;background-color:#f5f5f5;margin:0 auto;}
#header a:hover{color:red;}
.header-1{float:left;width:150px;}
.header-1{margin-left:15px;}

.header-2  li{float:left;margin-left:10px;list-style:none;}
.header-21,.header-23{position:relative;}
.header-22,.header-24{position:absolute;top:28px;left:0px;background-color:white;}
.header-24{height:50px;border:solid 1px #ccc;line-height:50px;}

#header ul li a{font:bold 15px;}
#suibian{width:540px;float:right;}
#header a{text-decoration:none;font-size:14px;color:#666;line-height:28px;}

						 /*        搜索框一栏 */


#div2{height:105px;width:100%;}
.div2-zong{margin:0 auto;width:1200px;}
#div2 a:hover{color:red;}
.div2-1,.div2-2,.div2-3{float:left;}
.div2-2 ul{width:445px;}
.div2-2 li{float:left;list-style:none;margin-left:2px;}
.div2-2 ul a{font-size:12px;color:#999999;line-height:36px;text-align:center;text-decoration:none;}
.div2-3{margin-top:36px;margin-left:130px;width:140px;}
.div2-4{float:right;margin-top:36px;}
.div2-4 span{line-height:40px;text-align:center;}

                       /*                         第三版                 */
					   
#div3{width:100%;}
#div3 li{list-style:none;}
.div3-zong{margin:0 auto;width:1200px;height:394px;}
.div3-1{width:230px;height:35px;border:solid 1px pink;float:left;margin-top:18px;}
.div3-1 .dogtitle,.div3-1 .goodstitle{width:115px;text-align:center;float:left;line-height:35px;font:bold 15px;}
#div3 a{text-decoration:none;}
.dogtitle .petStyle{width:230px;height:360px;}
.dog-pet{width:230px;height:170px;border-bottom:dashed 1px #bebebe;margin-top:12px;}
.dog-pet p,.cat-pet p{font:bold 12px;color:#97969b;line-height:24px;}
.cat-pet{width:230px;height:170px;margin-top:12px;}
.goodslist{
	list-style: none;
	width: 230px;
	text-align: center;
	position: absolute;
	left: 3px;
	top:198px;
}
/*.goodslist li{width:230px;height:45px;border-bottom:dashed 1px #bebebe;}
.goodslist li a{font:bold 13px;color:#444;line-height:43px;}*/
.goodslist li a img{position:absolute;left:0;margin-top:16px;}
.goodslist li i{font:12px;color:#afafaf;}
.div3-2{width:770px; height:394px;margin-top:21px;float:left; }

.div3-21{width:500px;height:360px;clear:left;}

/*.div3-2 li{float:left;list-style:none;margin-left:50px;}
.div3-2 li a{font:bolder 18px;color:#000;line-height:36px;}*/
/*.div3-2 ul{width:478px;}*/

.daohang li{list-style:none;margin-left:27px;float:left;}
.daohang li a{font:bolder 18px;color:#000;line-height:36px;}
/*<!--.div3-21{position:absolute;top:30px;left:0;}-->*/
.div3-2{position:relative;}
.div3-22{position:absolute;left:300px;top:350px;text-align:center;}
.div3-22 span{width:20px;height:20px;display:block;float:left;margin-legft:10px;border-radius:50%;margin-left:10px;}


/*..................................食物和零食.......................................*/

#div3 a:hover{color:red;}
.goodslist-11{position:absolute;left:228px;top:-10px;width:825px;height:485px;z-index:8;background-color:white;}
.goodslist-21{position:absolute;left:228px;top:-10px;width:814px;height:648px;z-index:8;background-color:white;}
.goodslist-31{position:absolute;left:228px;top:-10px;width:818px;height:566px;z-index:8;background-color:white;}
.goodslist-41{position:absolute;left:228px;top:-10px;width:818px;height:503px;z-index:8;background-color:white;}
.goodslist-51{position:absolute;left:228px;top:-10px;width:820px;height:484px;z-index:8;background-color:white;}
.goodslist-61{position:absolute;left:228px;top:-10px;width:800px;height:300px;z-index:8;background-color:white;}
.goodslist-71{position:absolute;left:228px;top:-10px;width:820px;height:400px;z-index:8;background-color:white;}

.goodslist-11 li,.goodslist-21 li,.goodslist-31 li,.goodslist-41 li,.goodslist-51 li,.goodslist-61 li,
.goodslist-71 li{text-align:justify;}
.goodslist-12,.goodslist-13,.goodslist-22,.goodslist-23,.goodslist-32,.goodslist-33,.goodslist-42,.goodslist-43,.goodslist-52,.goodslist-53,.goodslist-62,.goodslist-63,.goodslist-72,.goodslist-73{float:left;}

.googslist-12{width:540px;}
.googslist-22{width:568px;}
.goodslist-32{width:566px;}
.goodslist-42{width:550px;}
.goodslist-52{width:550px;}
.goodslist-62{width:400px;}
.goodslist-72{width:550px;}

.goodslist .goodslist-12 li,.goodslist-32 li,.goodslist-62 li,.goodslist-72 li{list-style:none;width:540px;border-bottom:dashed 1px #ccc;line-height:37px;}
.goodslist-42 li{list-style:none;width:540px;border-bottom:dashed 1px #ccc;line-height:35px;}
.goodslist-52 li{list-style:none;width:540px;border-bottom:dashed 1px #ccc;line-height:37px;}
.goodslist .goodslist-22 li{list-style:none;width:540px;border-bottom:dashed 1px #ccc;line-height:39px;}
.goodslist-12 li a,.goodslist-22 li a,.goodslist-32 li a,.goodslist-42 li a,.goodslist-52 li a,.goodslist-62 li a,.goodslist-72 li a{border-right:solid 2px #ddd;font-size:12px;color:#000;padding:0px 10px;}
.goodslist-11 .goodslist-13{list-style:none;margin-left:20px;width:264px;height:485px;background-color:#CCC;}
.goodslist-21 .goodslist-23{list-style:none;margin-left:32px;width:241px;height:648px;background-color:#CCC;}
.goodslist-31 .goodslist-33{list-style:none;margin-left:10px;width:241px;height:566px;background-color:#CCC;}
.goodslist-41 .goodslist-43{list-style:none;margin-left:10px;width:257px;height:503px;background-color:#CCC;}
.goodslist-51 .goodslist-53{list-style:none;margin-left:10px;width:259px;height:484px;background-color:#CCC;}
.goodslist-61 .goodslist-63{list-style:none;margin-left:160px;width:240px;height:300px;background-color:#CCC;}
.goodslist-71 .goodslist-73{list-style:none;margin-left:28px;width:240px;height:400px;background-color:#CCC;}
.goodslist-13 li,.goodslist-63 li{border:none;line-height:27px;width:262px;margin-left:10px;}
.goodslist-23 li{border:none;line-height:23px;width:241px;margin-left:10px;}
.goodslist-33 li{border:none;line-height:19px;width:230px;margin-left:10px;}
.goodslist-43 li,.goodslist-53 li{border:none;line-height:19px;width:250px;margin-left:10px;}
.goodslist-73 li{border:none;line-height:19px;width:140px;margin-left:0px;}
/*...............................................................................*/
/*....................................*/
.div3-3{float:left;margin-top:50px;}
.div3-3 li{list-style:none;width:200px;height:120px;border-bottom:dashed 1px #ddd;border-bottom:solid 1px #f5f5f5;margin-left:px;}
.div3-3 li a{line-height:120px;font:bold 12px;color:pink;}
.div3-3 .div3-31{background:url(../images/div3-28.jpg) no-repeat 80px 20px;}
.div3-3 .div3-32{background:url(../images/div3-29.jpg) no-repeat 80px 20px;}
.div3-3 .div3-33{background:url(../images/div3-30.jpg) no-repeat 80px 20px;}


/*.....................第四版。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/

#div4{width:100%;}
.div4-zong{width:1200px;height:203px;margin:0 auto;}
#div4 a{text-decoration:none;}
#div4 li{list-style:none;}
.div4-1{width:228px;height:202px;background-color:#fec038;margin-top:20px;float:left;clear:left;}
.div4-3{width:228px;height:202px;background-color:#fa7d67;margin-top:20px;float:left;clear:left;}
.div4-11{background:url(../images/div4-1.jpg) no-repeat 40px 0px;}
.div4-12{background:url(../images/div4-2.jpg) no-repeat 40px 0px;}
.div4-31{background:url(../images/ping1.jpg) no-repeat 40px 0px;}
.div4-32{background:url(../images/ping2.jpg) no-repeat 40px 0px;}
.div4-11 span,.div4-12 span,.div4-31 span,.div4-32 span{margin-top:30px;line-height:50px;margin-left:80px;width:123px;font:bold 18px;color:white;}
.div4-2,.div4-4{float:left;width:950px;height:202px;margin-top:20px;background-color:#f5f5f5;margin-left:20px;overflow:hidden;}
.div4-2 .div4-21 ol,.div4-2 .div4-22 ol,.div4-4 .div4-41 ol,.div4-4 .div4-42 ol{width:313px; height:170px;margin-left:20px;}
.div4-21,.div4-22{float:left;margin-top:15px;}
.div4-41,.div4-42{float:left;margin-top:30px;}
.div4-21,.div4-41{margin-left:20px;}
.div4-22,.div4-42{margin-left:40px;}
.div4-21 ol,.div4-21 dl,.div4-22 ol,.div4-22 dl,.div4-41 ol,.div4-41 dl,.div4-42 ol,.div4-42 dl{float:left;}
.div4-1 dt,.div4-3 dt{margin-top:20px;}



/*...................................第五板块...............................*/
#div5{width:100%;}
.div5-zong{width:1200px;height:800px;margin:0 auto;}
#div5 li{list-style:none;}
.div5-11 dt,.div5-11 dd,.div5-12 dt,.div5-12 dd,.div5-13 dt,.div5-13 dd{float:left;}
.div5-11,.div5-12,.div5-13{width:1200px;height:240px;margin-left:50px;}
.div5-11 li,.div5-12 li,.div5-13 li{float:left;background-color:white;margin-left:20px;}
.div5-11 dt,.div5-12 dt,.div5-13 dt{line-height:28px;margin-top:32px;margin-left:10px;}
.div5-11 dd,.div5-12 dd,.div5-13 dd{width:334px;margin-left:20px;}



/*........................第六板块.................................*/

#div6{width:100%;margin-top:10px;margin-bottom:10px;}
.div6-zong,.div7-zong,.div8-zong,.div9-zong,.div10-zong,.div11-zong{width:1200px;height:630px;margin:0 auto;clear:both;}
#div7{width:100%;margin:0 auto;}
#div8,#div9,#div10,#div11{width:100%;}
#div6 a:hover,#div7 a:hove,#div8 a:hover,#div9 a:hoverr,#div10 a:hoverr,#div11 a:hover{border-color:red;}
#div6 li,#div7 li,#div8 li,#div9 li,#div10 li,#div11 li{list-style:none;}
/*.div6-2,p{float:left;}*/
#abc{clear:left;}
.div6-2,.div7-2,.div8-2,.div9-2,.div10-2,.div11-2{height:500px;}
.div6-2,#div6 p,.div7-2,#div7 p,.div8-2,#div8 p,.div9-2,#div9 p,.div10-2,#div10 p,div11-2,#div11 p{float:left;}
.div6-1,.div7-1,.div8-1,.div9-1,.div10-1,.div11-1{width:100%;height:60px;}
.div6-21 li,.div6-22 li,.div8-21 li,.div8-22 li,.div9-21 li,.div9-22 li,.div10-21 li,.div10-22 li{float:left;margin-left:100px;width:100px;height:200px;margin-top:40px;}
.div11-21 li,.div11-22 li{float:left;margin-left:90px;width:140px;height:200px;margin-top:30px;}
.div7-21 li,.div7-22 li{float:left;margin-left:100px;margin-top:40px;width:100px;height:200px;}

.div6-1 li,.div7-1 li,.div8-1 li,.div9-1 li,.div10-1 li,.div11-1 li{float:left;}
.div6-1 li a,.div7-1 li a,.div8-1 li a,.div9-1 li a,.div10-1 li a,.div11-1 li a{line-height:60px;text-decoration:none;}
.div6-12 a,.div7-12 a,.div8-12 a,.div9-12 a,.div10-12 a,.div11-12 a{font-size:12px;color:green;padding:0px 10px;}






#div12{width:100%;}
#div12 a:hover{color:red;}
.div12-zong{margin:0 auto;width:1200px;height:80px;}
#div12 p a{font:bold 12px;color:#999;padding:20px 10px;line-height:30px;text-decoration:none;}




#foot{width:100%;}
#foot a:hover{color:red;}
.foot-zong{width:1200px;height:220px;clear:both;margin:0 auto;}
#foot li{float:left;margin:40px 35px;list-style:none;}
#foot li a{font:bold 12px;color:white;line-height:30px;width:50px;text-align:center;text-decoration:none;}




#div13{width:100%;}
#div13 a:hover{color:red;}
.div13-zong{margin:0 auto;width:1200px;height:220px;background-color:#459d36;border-top:solid 1px gray;}
.div13-zong ul{float:left;margin-top:20px;border-right:solid 1px gray;width:230px;text-align:center;}
.div13-zong li{list-style:none;}
.div13-zong li a{font:bold 12px; color:white;line-height:30px;text-decoration:none;}



#div14{width:100%;}
#div14 a:hover{color:red;}
.div14-zong{margin:0 auto;width:1200px;height:180px;background-color:#f5f5f5;}
.div14-zong div{float:left;margin-top:30px;}
.div14-zong p{margin-top:10px;}
.div14-2 dl{float:left;}
.div14-1 img,.div14-3 img{margin-left:25px;}




#div15{position:fixed;right:0;top:30%;}
.div15-zong{width:35px;height:540px;background-color:#459d36;}
.div15-zong ul li{height:50px;list-style:none;line-height:48px;}




#div16{width:100%;}
.div16-zong{margin:0 auto;width:1200px;height:80px;border-top:solid 1px #f5f5f5;}
.div16-zong p{font:bold 13px; line-height:45px;font:#f5f5f5;text-align:center;}